@charset "utf-8";
/*
 * Page 			: 
 * Copyright 2023	:
 * Author			: Chang Mao Yang
 * Licensed			:
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ........... You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ......... Set component styles
 * iconss ............ Set some ison
 * Utility ........... Set some tools style
 */

/* -------------------------- */

/* hero */
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* link-btn  */
.link-btn-container{
	padding-left: 25%;
}

.link-btn{
	display: block;
	width: 80%;
	height: 150px;
	margin-bottom: 30px;
	border-radius: 10px;

	background: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
				0px 0px 10px 1px rgba(0, 0, 0, 0.25) inset ;
	border-radius: 10px;

	transition: 0.2s;
	overflow: hidden;
}

.link-btn .link-img{
	opacity: 0.8;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.link-btn .text-container{
	position: absolute;
	left: 30px;
	bottom: 0px;
}

.link-btn .text{
	color: #dedede;
}

/* about */
.about-container{
	padding-left: 25%;
}

.about-container .text-container{
	padding-right: 100px;
}

#about-title{
	color: #fff;
}


/* -------------------------- */
.link-btn.adding{
	height: 200px;
}

.adding-input{
	border: 0;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
}

.adding-input:focus {
    outline: none;
}

::placeholder { /* CSS 3 標準 */
	color: #ccc;
}


/* -------------------------- *\
	animation
\* -------------------------- */

.link-btn:hover{
	transform: translate(0px, -5px);
}
.link-btn:active{
	transform: translate(0px, 0px);
}


