@charset "utf-8";
/*
 * Page 			: 
 * Copyright 2023	:
 * Author			: Chang Mao Yang
 * Licensed			:
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ........... You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ......... Set component styles
 * iconss ............ Set some ison
 * Utility ........... Set some tools style
 */

/* -------------------------- *\
	Globel
\* -------------------------- */
* {
    box-sizing: border-box;
    position: relative;
}

html,body {
    font-family: '微軟正黑體', arial;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}
/* text */
.text-container{
	display: inline-block;
}

.text{
	color: rgba(217, 217, 217, 1);
}

h1.text{
	font-weight: 150;
	font-size: 50pt;
	padding: 12px 0px;
	color: #D9D9D9;
}

h2.text{
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0em;
	color: #797979;
}

h3.text{
	font-size: 30px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
}

p.text{
}

/* -------------------------- *\
	Layout
\* -------------------------- */
/* grid system */
.container {
    max-width: 100vw;
    /* 1140 px */
    width: 100%;
    height: 100%;
    /*	border: 1px solid #000;*/
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.row {
/*    border: 1px solid blue;*/
    margin-left: -16px;
    margin-right: -16px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,.col-md-6,.col-md-4,.col-md-3,.col-md-12,.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12 {
    /*border: 1px solid red;*/
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.3333333%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-12 {
    width: 100%;
}

/* -------------------------- *\
	Component
\* -------------------------- */

/* -------------------------- */
/* top-bar */
.top-bar {
/*    border: 1px solid red;*/
    height: 64px;
    position: fixed;
    z-index: 500;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

/* search */
.search-container{
	position: absolute;
	right: 40px;
	top: 25px;
}

.search-text{
	border: 0;
	padding: 3px;
	border-bottom:1px solid #eee;
	width: 400px;
	color: #888;
}

.search-text:focus{
	outline: none;
}

/* profile */
.profile-info{
	display: block;
	position: absolute;
	left: 0px;
	top: 10px;
}

.profile-img{
	float: left;
	padding: 2px;
}

.profile-name{
	float: right;
	vertical-align: bottom;
	font-size: 16px;
	padding: 14px 15px;
}

/* -------------------------- */
/* sidebar */
.sidebar {
/*    border: 1px solid blue;*/
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    background-color: #fff;
    z-index: 100;
}

.sidebar-main-menu{
	display: block;
	padding-top: 100px;
	padding-bottom: 50px;
}

.sidebar-main-item{
	vertical-align: top;
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	border-radius: 5px;
	width: 180px;

	display: block;
	height: 44px;
	font-size: 15px;
}

.sidebar-main-item .text-container{
	vertical-align: top;
	padding: 13px;
}

/* -------------------------- */
/* main */
.main{
	margin-left: 220px;
}

/* content */
.content {
	margin-top: 64px;
}

/* hero */
.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* link-btn  */
.link-btn-container{
	padding-left: 300px;
	padding-top: 80px;
}

.link-btn{
	display: block;
	width: 710px;
	height: 150px;
	margin-bottom: 30px;
	border-radius: 10px;

	background: #FFFFFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
				0px 0px 10px 1px rgba(0, 0, 0, 0.25) inset ;
	border-radius: 10px;
}

.link-btn .text-container{
	position: absolute;
	left: 30px;
	bottom: 0px;
}

/* about */
.about-container{
	padding-left: 250px;
}

.about-container .text-container{
	padding-right: 100px;
}

#about-title{
	color: #fff;
}

/* -------------------------- */
/* card */
#card-wrapper{
	margin-right:220px;
	margin-left:220px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 760px;
}

#card-wrapper .text-container{
	min-width: 300px;
	width: 100%;
	text-align: center;
}

.card-container{
	padding-left:16px;
	padding-right:-16px;
}

.card{
	display: inline-block;
	width: 220px;
	height: 180px;
	
	background: #FFFFFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	padding: 0;
	margin: 10px;

	overflow: hidden;
	z-index: 100;
}

.card:after{
	/** 
	 * using after to generate the inset shdow, 
	 * or the inset show will be cover by the content.
	 * */
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25) inset;
}

.img-container{
	width: 100%;
	height: 100%;
}

.card-img{
	opacity: 1.0;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.card-caption{
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;

	color: #b0b0b0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	

	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;

	background: linear-gradient(0deg, 
		rgba(255,255,255,1.0) 0%, 
		rgba(255,255,255,1.0) 80%, 
		rgba(255,255,255,0.0) 100%);
}

.title{
	padding: 10px 0px;
	padding-top: 0px;
}

.sub-title{
	width: 100%;
	padding-top: 30px;
	border-bottom: 1px solid #E7E7E7;
}

/* -------------------------- */
/* footer */
.footer{
	margin-left: 200px;
}

.footer .copyright{
	background-color: #444;
	color: #ccc;
	text-align: center;
	line-height: 24px;
	padding: 16px 0;
	font-size: 14px;
}

/* -------------------------- *\
	icon
\* -------------------------- */
.icon-container{
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
	padding: 6px;
}

.icon {
}

.main-icon:before{
	content: url(./icon/main.svg);
}

.Note-icon:before{
	content: url(./icon/Note.svg);
}

.Code-icon:before{
	content: url(./icon/Code.svg);
}

.Others-icon:before{
	content: url(./icon/Others.svg);
}

.expanded:after{
	content: url(./icon/expanded.svg);
	text-align: center;
	border-radius: 5px;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.collapsed:after{
	content: url(./icon/collapsed.svg);
	text-align: center;
	border-radius: 5px;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.search-icon{
	display: block;
	padding: 2px;
	position: absolute;
	right: 0;
	top: 0;
}

.search-icon:before{
	content: url(./icon/search.svg);
}

.title-anchor-icon:after{
	content: url("./icon/anchor.svg");
	padding-left: 20px;
}
.sub-title-anchor-icon:after{
	content: url("./icon/anchor.svg");
	padding-left: 10px;
}
/*------------------------------------------------------------------*
 | [color transformation](https://www.zhangxinxu.com/sp/filter.html)|
 *------------------------------------------------------------------*/
.icon:before{
	/* #000000 -> #D0D0D0 */
	filter: invert(94%) sepia(0%) saturate(1389%) hue-rotate(12deg) brightness(117%) contrast(63%);
}
.collapsed:after{
	/* #000000 -> #D0D0D0 */
	filter: invert(94%) sepia(0%) saturate(1389%) hue-rotate(12deg) brightness(117%) contrast(63%);
}
.title-anchor-icon:after{
	/* #000000 -> #797979 */
	filter: invert(48%) sepia(3%) saturate(6%) hue-rotate(348deg) brightness(98%) contrast(94%);
}
.sub-title-anchor-icon:after{
	/* #000000 -> #D0D0D0 */
	filter: invert(94%) sepia(0%) saturate(1389%) hue-rotate(12deg) brightness(117%) contrast(63%);
}


.active .icon:before, .active .text,.active:after{
	color: #8089E1;
	filter: invert(60%) sepia(7%) saturate(3218%) hue-rotate(197deg) brightness(92%) contrast(91%);
}


/* -------------------------- *\
	Utility
\* -------------------------- */

/* mask-dark */
.mask-dark{
	background-color: #eee;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




